/* ------------------------------------------ */

/* basic setup                                */

/* ------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
  color: #555;
  height: 100%;
}

body {
  height: 100%;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------------ */

/* header setup                                */

/* ------------------------------------------ */

.c-header-title {
  text-align: center;
}

/* ------------------------------------------ */

/* table setup                                */

/* ------------------------------------------ */

table {
  border: 2px solid rgb(200, 200, 200);
}

.c-table-colgroup-weekday,
.c-table-colgroup-weekday-first,
.c-table-colgroup-weekday-last {
    border-bottom: double;
    border-top: double;
}

.c-table-colgroup-weekday-first {
    border-left: double;
}

.c-table-colgroup-weekday-last {
    border-right: double;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
}
